{{ define "main" }}
  <main>
    {{ partial "collage.html" . }}
    <section id="section-drink">
      <h2>{{ .Site.Params.Drink_title }}</h2>
      <div class="container">
        <div class="drink flex-grid">
            {{ partial "drink.html" . }}
        </div>
      </div>
      {{ partial "snipcart.html" . }}
    </section>
    <section id="section-food">
      <h2>{{ .Site.Params.Food_title }}</h2>
      <div class="container">
        <div class="food flex-grid">
            {{ partial "food.html" . }}
        </div>
      </div>
      {{ partial "snipcart.html" . }}
    </section>
    <!-- <section id="section-product">
      <h2>{{ .Site.Params.Products_title }}</h2>
      {{ partial "category-selector" . }}
      <div class="container">
        <div class="products flex-grid">
          {{ range .Pages.ByDate }}
            {{ partial "product.html" .Params }}
          {{ end }}
        </div>
      </div>
      {{ partial "snipcart.html" . }}
    </section> -->
    <section id="section-contacts">
      <h2>{{ .Site.Params.Contacts_title }}</h2>
      <div class="container">
        <div class="reviews flex-grid">
            {{partial "contact.html" . }}
        </div>
      </div>
    </section>
    <section id="section-location">
      <h2>{{ .Site.Params.Map_title }}</h2>
      <div class="container">
        <div class="reviews flex-grid">
            {{partial "map.html" . }}
        </div>
      </div>
    </section>
    <!-- <section id="section-reviews">
      <h2>{{ .Site.Params.Reviews_title }}</h2>
      <div class="container">
        <div class="reviews flex-grid">
          {{ range .Site.Data.reviews }}
            {{partial "review.html" . }}
          {{ end }}
        </div>
      </div>
    </section> -->
  </main>
{{ end }}
