<div class="contact">
    <div class="container">
        <div class="column">
            <div class="section">
                <h3>Address</h3>
                <p>{{ .Site.Params.Contact_address1 }}</p>
                <p>{{ .Site.Params.Contact_address2 }}</p>
            </div>
        </div>
        <div class="column">
            <div class="section">
                <h3>Phone Numbers</h3>
                <p>{{ .Site.Params.Contact_phone1 }}</p>
                <p>{{ .Site.Params.Contact_phone2 }}</p>
            </div>
        </div>
    </div>
</div>