<div class="contact">
    <div class="container">
        <div class="column">
            <div class="section">
                <h3>Opening Hours</h3>
                <p>Monday to Friday: 9:00 AM - 5:00 PM</p>
                <p>Saturday and Sunday: Closed</p>
            </div>
            <div class="section">
                <h3>Address</h3>
                <p>{{ .Site.Params.Contact_address1 }}</p>
                <p>{{ .Site.Params.Contact_address2 }}</p>
            </div>
        </div>
        <div class="column">
            <div class="section">
                <h3>Phone Numbers</h3>
                <p>{{ .Site.Params.Contact_phone1 }}</p>
                <p>{{ .Site.Params.Contact_phone2 }}</p>
            </div>
            <div class="section">
                <h3>Email</h3>
                <p>{{ .Site.Params.Contact_email1 }}</p>
                <p>{{ .Site.Params.Contact_email2 }}</p>
            </div>
        </div>
    </div>
</div>