{{ if eq .categories "Drinks" }}
<div class="drink">
  <h2>Drinks</h2>
  <div class="container">
    <table>
      <thead>
        <tr>
          <th>Name</th>
          {{ $startersWithPrice := where (where .context.Site.Params.Drinks "kind" "drinks") "showPrice" true }}
          {{ if gt (len $startersWithPrice) 0 }}
            <th>Price</th>
          {{ end }}
        </tr>
      </thead>
      <tbody>
        {{ range where .context.Site.Params.Drinks "kind" "drinks" }} {{ partial
        "table-row.html" . }} {{ end }}
      </tbody>
    </table>
  </div>
</div>
{{ else if eq .categories "Foods" }}
<div class="food">
  <h2>Foods</h2>
  <div class="container">
    <h3>Starter</h3>
    <table>
      <thead>
        <tr>
          <th>Name</th>
          {{ $startersWithPrice := where (where .context.Site.Params.Foods "kind" "starter") "showPrice" true }}
          {{ if gt (len $startersWithPrice) 0 }}
            <th>Price</th>
          {{ end }}
        </tr>
      </thead>
      <tbody>
        {{ range where .context.Site.Params.Foods "kind" "starter" }} {{ partial
        "table-row.html" . }} {{ end }}
      </tbody>
    </table>
  </div>
  <div class="container">
    <div style="text-align: center;">
      <h3>Entress</h3>
      {{ range where .context.Site.Params.Foods "kind" "entress" }}
      <h3>
        {{.description}}: {{.price}}
      </h3>
      {{ end }}
    </div>
    <table>
      <thead>
        <tr>
          <th>Name</th>
          {{ $startersWithPrice := where (where .context.Site.Params.Foods "kind" "entress") "showPrice" true }}
          {{ if gt (len $startersWithPrice) 0 }}
            <th>Price</th>
          {{ end }}
        </tr>
      </thead>
      <tbody>
        {{ range where .context.Site.Params.Foods "kind" "entress" }} {{ partial
        "table-row.html" . }} {{ end }}
      </tbody>
    </table>
  </div>
  <div class="container">
    <div style="text-align: center;">
      <h3>Curry</h3>
      {{ range where .context.Site.Params.Foods "kind" "curry" }}
      <h3>
        {{.description}}: {{.price}}
      </h3>
      {{ end }}
    </div>
    <table>
      <thead>
        <tr>
          <th>Name</th>
          {{ $startersWithPrice := where (where .context.Site.Params.Foods "kind" "curry") "showPrice" true }}
          {{ if gt (len $startersWithPrice) 0 }}
            <th>Price</th>
          {{ end }}
        </tr>
      </thead>
      <tbody>
        {{ range where .context.Site.Params.Foods "kind" "curry" }} {{ partial
        "table-row.html" . }} {{ end }}
      </tbody>
    </table>
  </div>
  <!-- <div class="container">
    <h3>Dessert</h3>
    <table>
      <thead>
        <tr>
          <th>Name</th>
          {{if eq .showPrice true}}
          <th>Price</th>
          {{end}}
        </tr>
      </thead>
      <tbody>
        {{ range where .context.Site.Params.Foods "kind" "dessert" }} {{ partial
        "table-row.html" . }} {{ end }}
      </tbody>
    </table>
  </div> -->
</div>
{{ else }}
<div class="drink">
  <h2>Drinks</h2>
  <div class="container">
    <table>
      <thead>
        <tr>
          <th>Name</th>
          {{ $startersWithPrice := where (where .context.Site.Params.Drinks "kind" "drinks") "showPrice" true }}
          {{ if gt (len $startersWithPrice) 0 }}
            <th>Price</th>
          {{ end }}
        </tr>
      </thead>
      <tbody>
        {{ range where .context.Site.Params.Drinks "kind" "drinks" }} {{ partial
        "table-row.html" . }} {{ end }}
      </tbody>
    </table>
  </div>
</div>
<div class="food">
  <h2>Foods</h2>
  <div class="container">
    <h3>Starter</h3>
    <table>
      <thead>
        <tr>
          <th>Name</th>
          {{ $startersWithPrice := where (where .context.Site.Params.Foods "kind" "starter") "showPrice" true }}
          {{ if gt (len $startersWithPrice) 0 }}
            <th>Price</th>
          {{ end }}
        </tr>
      </thead>
      <tbody>
        {{ range where .context.Site.Params.Foods "kind" "starter" }} {{ partial
        "table-row.html" . }} {{ end }}
      </tbody>
    </table>
  </div>
  <div class="container">
    <h3>Entress</h3>
    <table>
      <thead>
        <tr>
          <th>Name</th>
          {{ $startersWithPrice := where (where .context.Site.Params.Foods "kind" "entress") "showPrice" true }}
          {{ if gt (len $startersWithPrice) 0 }}
            <th>Price</th>
          {{ end }}
        </tr>
      </thead>
      <tbody>
        {{ range where .context.Site.Params.Foods "kind" "entress" }} {{ partial
        "table-row.html" . }} {{ end }}
      </tbody>
    </table>
  </div>
  <div class="container">
    <h3>Dessert</h3>
    <table>
      <thead>
        <tr>
          <th>Name</th>
          {{ $startersWithPrice := where (where .context.Site.Params.Foods "kind" "dessert") "showPrice" true }}
          {{ if gt (len $startersWithPrice) 0 }}
            <th>Price</th>
          {{ end }}
        </tr>
      </thead>
      <tbody>
        {{ range where .context.Site.Params.Foods "kind" "dessert" }} {{ partial
        "table-row.html" . }} {{ end }}
      </tbody>
    </table>
  </div>
</div>
{{ end }}
