{{ if eq .categories "Drinks" }}
<div class="drink">
  <h2>Drinks</h2>
  <div class="container">
    <div style="text-align: center;">
      <h3>Bubble Tea</h3>
      {{ range where .context.Site.Params.Drinks "kind" "Bubble Tea" }}
        {{ if .description }}
        <h3>
          {{.description}}: {{.price}}
        </h3>
        {{ end }}
      {{ end }}
    </div>
    <table>
      <thead>
        <tr>
          <th>Name</th>
          {{ $startersWithPrice := where (where .context.Site.Params.Drinks "kind" "Bubble Tea") "showPrice" true }}
          {{ if gt (len $startersWithPrice) 0 }}
            <th>Price</th>
          {{ end }}
        </tr>
      </thead>
      <tbody>
        {{ range where .context.Site.Params.Drinks "kind" "Bubble Tea" }} {{ partial
        "table-row.html" . }} {{ end }}
      </tbody>
    </table>
  </div>
  <div class="container">
    <div style="text-align: center;">
      <h3>Others</h3>
      {{ range where .context.Site.Params.Drinks "kind" "Others" }}
        {{ if .description }}
        <h3>
          {{.description}}: {{.price}}
        </h3>
        {{ end }}
      {{ end }}
    </div>
    <table>
      <thead>
        <tr>
          <th>Name</th>
          {{ $startersWithPrice := where (where .context.Site.Params.Drinks "kind" "Others") "showPrice" true }}
          {{ if gt (len $startersWithPrice) 0 }}
            <th>Price</th>
          {{ end }}
        </tr>
      </thead>
      <tbody>
        {{ range where .context.Site.Params.Drinks "kind" "Others" }} {{ partial
        "table-row.html" . }} {{ end }}
      </tbody>
    </table>
  </div>
</div>

{{ else if eq .categories "Foods" }}
<div class="food">
  <h2>Foods</h2>
  <div class="container">
    <div style="text-align: center;">
      <h3>Starter</h3>
      {{ range where .context.Site.Params.Foods "kind" "Starter" }}
        {{ if .description }}
        <h3>
          {{.description}}: {{.price}}
        </h3>
        {{ end }}
      {{ end }}
    </div>
    <table>
      <thead>
        <tr>
          <th>Name</th>
          {{ $startersWithPrice := where (where .context.Site.Params.Foods "kind" "Starter") "showPrice" true }}
          {{ if gt (len $startersWithPrice) 0 }}
            <th>Price</th>
          {{ end }}
        </tr>
      </thead>
      <tbody>
        {{ range where .context.Site.Params.Foods "kind" "Starter" }} {{ partial
        "table-row.html" . }} {{ end }}
      </tbody>
    </table>
  </div>
  <div class="container">
    <div style="text-align: center;">
      <h3>Entress</h3>
      {{ range where .context.Site.Params.Foods "kind" "Entress" }}
        {{ if .description }}
        <h3>
          {{.description}}: {{.price}}
        </h3>
        {{ end }}
      {{ end }}
    </div>
    <table>
      <thead>
        <tr>
          <th>Name</th>
          {{ $startersWithPrice := where (where .context.Site.Params.Foods "kind" "Entress") "showPrice" true }}
          {{ if gt (len $startersWithPrice) 0 }}
            <th>Price</th>
          {{ end }}
        </tr>
      </thead>
      <tbody>
        {{ range where .context.Site.Params.Foods "kind" "Entress" }} {{ partial
        "table-row.html" . }} {{ end }}
      </tbody>
    </table>
  </div>
  <div class="container">
    <div style="text-align: center;">
      <h3>Curry</h3>
      {{ range where .context.Site.Params.Foods "kind" "Curry" }}
        {{ if .description }}
        <h3>
          {{.description}}: {{.price}}
        </h3>
        {{ end }}
      {{ end }}
    </div>
    <table>
      <thead>
        <tr>
          <th>Name</th>
          {{ $startersWithPrice := where (where .context.Site.Params.Foods "kind" "Curry") "showPrice" true }}
          {{ if gt (len $startersWithPrice) 0 }}
            <th>Price</th>
          {{ end }}
        </tr>
      </thead>
      <tbody>
        {{ range where .context.Site.Params.Foods "kind" "Curry" }} {{ partial
        "table-row.html" . }} {{ end }}
      </tbody>
    </table>
  </div>
</div>
{{ else }}
<div class="drink">
  <h2>Drinks</h2>
  <div class="container">
    <div style="text-align: center;">
      <h3>Bubble Tea</h3>
      {{ range where .context.Site.Params.Drinks "kind" "Bubble Tea" }}
        {{ if .description }}
        <h3>
          {{.description}}: {{.price}}
        </h3>
        {{ end }}
      {{ end }}
    </div>
    <table>
      <thead>
        <tr>
          <th>Name</th>
          {{ $startersWithPrice := where (where .context.Site.Params.Drinks "kind" "Bubble Tea") "showPrice" true }}
          {{ if gt (len $startersWithPrice) 0 }}
            <th>Price</th>
          {{ end }}
        </tr>
      </thead>
      <tbody>
        {{ range where .context.Site.Params.Drinks "kind" "Bubble Tea" }} {{ partial
        "table-row.html" . }} {{ end }}
      </tbody>
    </table>
  </div>
  <div class="container">
    <div style="text-align: center;">
      <h3>Others</h3>
      {{ range where .context.Site.Params.Drinks "kind" "Others" }}
        {{ if .description }}
        <h3>
          {{.description}}: {{.price}}
        </h3>
        {{ end }}
      {{ end }}
    </div>
    <table>
      <thead>
        <tr>
          <th>Name</th>
          {{ $startersWithPrice := where (where .context.Site.Params.Drinks "kind" "Others") "showPrice" true }}
          {{ if gt (len $startersWithPrice) 0 }}
            <th>Price</th>
          {{ end }}
        </tr>
      </thead>
      <tbody>
        {{ range where .context.Site.Params.Drinks "kind" "Others" }} {{ partial
        "table-row.html" . }} {{ end }}
      </tbody>
    </table>
  </div>
</div>
<div class="food">
  <h2>Foods</h2>
  <div class="container">
    <div style="text-align: center;">
      <h3>Starter</h3>
      {{ range where .context.Site.Params.Foods "kind" "Starter" }}
        {{ if .description }}
        <h3>
          {{.description}}: {{.price}}
        </h3>
        {{ end }}
      {{ end }}
    </div>
    <table>
      <thead>
        <tr>
          <th>Name</th>
          {{ $startersWithPrice := where (where .context.Site.Params.Foods "kind" "Starter") "showPrice" true }}
          {{ if gt (len $startersWithPrice) 0 }}
            <th>Price</th>
          {{ end }}
        </tr>
      </thead>
      <tbody>
        {{ range where .context.Site.Params.Foods "kind" "Starter" }} {{ partial
        "table-row.html" . }} {{ end }}
      </tbody>
    </table>
  </div>
  <div class="container">
    <div style="text-align: center;">
      <h3>Entress</h3>
      {{ range where .context.Site.Params.Foods "kind" "Entress" }}
        {{ if .description }}
        <h3>
          {{.description}}: {{.price}}
        </h3>
        {{ end }}
      {{ end }}
    </div>
    <table>
      <thead>
        <tr>
          <th>Name</th>
          {{ $startersWithPrice := where (where .context.Site.Params.Foods "kind" "Entress") "showPrice" true }}
          {{ if gt (len $startersWithPrice) 0 }}
            <th>Price</th>
          {{ end }}
        </tr>
      </thead>
      <tbody>
        {{ range where .context.Site.Params.Foods "kind" "Entress" }} {{ partial
        "table-row.html" . }} {{ end }}
      </tbody>
    </table>
  </div>
  <div class="container">
    <div style="text-align: center;">
      <h3>Curry</h3>
      {{ range where .context.Site.Params.Foods "kind" "Curry" }}
        {{ if .description }}
        <h3>
          {{.description}}: {{.price}}
        </h3>
        {{ end }}
      {{ end }}
    </div>
    <table>
      <thead>
        <tr>
          <th>Name</th>
          {{ $startersWithPrice := where (where .context.Site.Params.Foods "kind" "Curry") "showPrice" true }}
          {{ if gt (len $startersWithPrice) 0 }}
            <th>Price</th>
          {{ end }}
        </tr>
      </thead>
      <tbody>
        {{ range where .context.Site.Params.Foods "kind" "Curry" }} {{ partial
        "table-row.html" . }} {{ end }}
      </tbody>
    </table>
  </div>
</div>
{{ end }}
